
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }


  .content {
    display: flex;
    margin: 32px auto 32px;
    padding: 0 16px;
    max-width: 970px;
    flex-direction: column;
    align-items: center;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>


<div class="content" role="">
  <div class="">
    
        <p>Nombre del Empleado: {{nombre}}</p>
        <p>Edad: {{edad}}</p>
        <p>Los ultimos tres sueldos son: {{sueldos[0]}},{{sueldos[1]}} y {{sueldos[2]}}</p>
        <p>En los ultimos 3 meses ha ganado: {{ultimo3Sueldos()}}</p>
        <p>{{esActivo()}}</p>
        <p>En los últimos 3 meses ha ganado: {{sueldos[0]+sueldos[1]+sueldos[2]}}</p>
        <p>El empleado dentro de 5 años tendrá:{{edad+5}}</p>
        <p>Puede visitar el sitio ingresando <a href="{{sitio}}">aquí</a></p>

  </div>

  <p *ngIf="edad>=18; else menor">Es mayor de edad</p>
  <ng-template #menor><p>Es un menor de edad</p></ng-template>
  <table border="1">
    <tr>
      <td>Sueldos</td>
    </tr>
    <tr *ngFor="let sueldo of sueldos">
      <td>{{sueldo}}</td>
    </tr>
  </table>

  <div>
    <p>{{contador}}</p>
    <button (click)="incrementar()">Sumar 1</button>
    <button (click)="decrementar()">Restar 1</button>
  </div>

  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>


</div>

<router-outlet></router-outlet>
